*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    text-align: center;

}
.container{
    height:70vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1vmin;
    
}

.box{
    height: 19vmin;
    width:19vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-radius: 15px;
    font-size: 8vmin;
    color: #b0413b;
    background: color #ffffdf

}
#resetbtn{
    height:8vmin;
    width:12vmin;
    color:#b0413b;
    border-radius: 10px;
    font-size: 3vmin;
    background-color: black;
   
}

.newgame{
    height:6vmin;
    width:15vmin;
    color:#b0413b;
    border-radius: 10px;
    font-size: 3vmin;
    background-color: black;
   
}

#message{
    font-weight: 100;
    font-size: 8vmin;
    color: blue;
}

.hide{
    display: none;
}